---
import { Image } from "@astrojs/image/components";

import Layout from "@/layouts/Layout.astro";

import heroImage from "@/assets/santa-hat.png";
import { technologies } from "@/lib";

import About from "@/components/About.astro";
import SkillCard from "@/components/SkillCard.astro";
import Contacts from "@/components/Contacts.astro";
import Nomp from "@/components/projects/Nomp.astro";
import OnlyFoods from "@/components/projects/OnlyFoods.astro";
import Humphrey from "@/components/projects/Humphrey.astro";
---

<Layout title="Humphrey 🎅">
  <main class="px-6 py-4 relative w-full m-auto md:max-w-lg xl:max-w-5xl">
    <section
      class="card h-screen w-full flex items-center justify-center"
      id="home"
    >
      <div class="flex flex-col items-center justify-center gap-10">
        <div class="flex flex-col items-end gap-2">
          <h1 class="text-red-400 font-bold text-6xl name-header">Humphrey</h1>
          <span class="font-semibold px-4">Web Developer</span>
        </div>

        <Image src={heroImage} alt="Santa hat" height={300} format="webp" />

        <div class="self-end px-8">
          <Contacts />
        </div>
      </div>
    </section>

    <section id="about" class="card pb-10">
      <About />
    </section>

    <section id="projects" class="card">
      <h2
        class="font-headline font-bold text-xl uppercase after:w-full after:h-[2px] after:bg-slate-400 after:block flex after:m-3"
      >
        Projects
      </h2>
      <Nomp />
      <OnlyFoods />
      <Humphrey />
    </section>

    <section class="card" id="skills">
      <h2
        class="flex font-headline font-bold text-xl uppercase after:w-full after:h-[2px] after:bg-slate-400 after:block after:m-3"
      >
        Skills
      </h2>
      <SkillCard
        title="Languages"
        technologies={technologies.filter((tech) => tech.skill === "language")}
      />
      <SkillCard
        title="Libraries & Frameworks"
        technologies={technologies.filter((tech) => tech.skill === "library")}
      />
      <SkillCard
        title="Tools"
        technologies={technologies.filter((tech) => tech.skill === "tool")}
      />
    </section>

    <section id="contact" class="card py-40 flex flex-col gap-4">
      <h2
        class="font-headline font-bold text-xl uppercase after:w-full after:h-[2px] after:bg-slate-400 after:block flex after:m-3"
      >
        Contact
      </h2>

      <p class="text-center font-semibold">
        Whether you'd like to chat or talk about opportunities, <span
          class="inline-block title"
          >feel free to drop me a message!
        </span>
      </p>

      <a
        href="mailto: humphrey@u.nus.edu"
        class="self-center bg-red-100 rounded-md p-2 shadow-xl text-lg font-semibold border-[2px] border-red-300 hover:bg-red-50 transition-all duration-150 ease-in-out"
        >📧 Get in touch! 📧
      </a>
    </section>
  </main>
</Layout>

<script>
  const cards = document.querySelectorAll(".card");

  const observer = new IntersectionObserver(
    (entries) => {
      entries.forEach((entry) => {
        entry.target.classList.toggle("show", entry.isIntersecting);

        if (entry.isIntersecting) {
          observer.unobserve(entry.target);
        }
      });
    },
    { threshold: 0.1 }
  );

  cards.forEach((card) => {
    observer.observe(card);
  });
</script>

<style>
  section {
    padding-top: 70px;
    padding-bottom: 70px;
    margin-top: -70px;
  }

  .card {
    transform: translateY(100px);
    transition: 250ms;
    opacity: 0;
  }

  .card.show {
    transform: translateY(0);
    opacity: 1;
  }
</style>
