---
import { Image } from "@astrojs/image/components";

import Layout from "@/layouts/Layout.astro";

import binanceLogo from "@/assets/binance.svg";
import binanceSite from "@/assets/binance-website.png";
import { technologies } from "@/lib";

import About from "@/components/About.astro";
import SkillCard from "@/components/SkillCard.astro";
import Nomp from "@/components/projects/Nomp.astro";
import OnlyFoods from "@/components/projects/OnlyFoods.astro";
import Portfolio from "@/components/projects/Portfolio.astro";
import Hero from "@/components/Hero.astro";
---

<Layout title="Humphrey 🎅">
  <main class="px-6 pb-4 relative w-full m-auto md:max-w-lg xl:max-w-5xl">
    <Hero />

    <section id="about" class="card pb-10">
      <About />
    </section>

    <section id="experience" class="card">
      <h2
        class="font-headline font-bold text-xl uppercase after:w-full after:h-[2px] after:bg-slate-400 after:block flex after:m-3 pb-5"
      >
        Experience
      </h2>

      <article
        class="flex flex-col items-center gap-10 pt-5 bg-stone-100 rounded-xl p-3 relative xl:flex-row"
      >
        <div
          class="w-full max-w-md md:max-w-lg rounded-lg overflow-hidden group relative"
        >
          <Image
            src={binanceSite}
            alt="Binance"
            format="webp"
            class="group-hover:opacity-70 duration-200"
          />
          <div
            class="absolute top-0 left-0 w-full h-0 flex flex-col gap-5 justify-center items-center bg-black opacity-0 group-hover:h-full group-hover:opacity-80 duration-500"
          >
            <p class="text-lg text-white px-5 font-semibold">Binance</p>
            <a
              class="px-8 py-3 font-semibold rounded-full bg-amber-400 hover:bg-amber-600 duration-300"
              href="https://twitter.com/binance"
              target="_blank"
              rel="noopener noreferrer"
              >Visit
            </a>
          </div>
        </div>
        <div class="flex flex-col gap-3">
          <span>
            <img src={binanceLogo} class="h-8" />
          </span>
          <div>
            <h3 class="font-semibold text-lg">
              Software Engineer Intern @ Binance
            </h3>
            <div class="divide-x divide-gray-600 font-light">
              <span class="pr-2">TBD - Present</span><span class="pl-2"
                >Singapore
              </span>
            </div>
          </div>
          <ul class="list-disc px-4">
            <li>Lorem ipsum</li>
            <li>Lorem ipsum</li>
          </ul>
        </div>
      </article>
    </section>

    <section id="projects" class="card">
      <h2
        class="font-headline font-bold text-xl uppercase after:w-full after:h-[2px] after:bg-slate-400 after:block flex after:m-3"
      >
        Projects
      </h2>

      <Nomp />

      <OnlyFoods />

      <Portfolio />
    </section>

    <section class="card" id="skills">
      <h2
        class="flex font-headline font-bold text-xl uppercase after:w-full after:h-[2px] after:bg-slate-400 after:block after:m-3"
      >
        Skills
      </h2>
      <SkillCard
        title="Languages"
        technologies={technologies.filter((tech) => tech.skill === "language")}
      />
      <SkillCard
        title="Libraries & Frameworks"
        technologies={technologies.filter((tech) => tech.skill === "library")}
      />
      <SkillCard
        title="Tools"
        technologies={technologies.filter((tech) => tech.skill === "tool")}
      />
    </section>

    <section id="contact" class="card py-40 flex flex-col gap-4">
      <h2
        class="font-headline font-bold text-xl uppercase after:w-full after:h-[2px] after:bg-slate-400 after:block flex after:m-3"
      >
        Contact
      </h2>

      <p class="text-center font-semibold">
        Whether you'd like to chat or talk about opportunities, <span
          class="inline-block title"
          >feel free to drop me a message!
        </span>
      </p>

      <a
        href="mailto: humphrey@u.nus.edu"
        class="self-center bg-red-100 rounded-md p-2 shadow-xl text-lg font-semibold border-[2px] border-red-300 hover:bg-red-50 transition-all duration-150 ease-in-out"
        >📧 Get in touch! 📧
      </a>
    </section>
  </main>
</Layout>

<script>
  const cards = document.querySelectorAll(".card");

  const observer = new IntersectionObserver(
    (entries) => {
      entries.forEach((entry) => {
        entry.target.classList.toggle("show", entry.isIntersecting);

        if (entry.isIntersecting) {
          observer.unobserve(entry.target);
        }
      });
    },
    { threshold: 0.1 }
  );

  cards.forEach((card) => {
    observer.observe(card);
  });
</script>

<style>
  section {
    padding-top: 70px;
    padding-bottom: 70px;
    margin-top: -70px;
  }

  .card {
    transform: translateY(100px);
    transition: 250ms;
    opacity: 0;
  }

  .card.show {
    transform: translateY(0);
    opacity: 1;
  }
</style>
