---
import Layout from "@/layouts/Layout.astro";
import ProjectCard from "@/components/ProjectCard.astro";
import SkillCard from "@/components/SkillCard.astro";
import { technologies, nompStack, onlyFoodsStack, portfolioStack } from "@/lib";
---

<Layout title="Humphrey">
  <main class="px-6 relative w-full m-auto md:max-w-lg xl:max-w-5xl">
    <section
      class="card h-screen w-full flex flex-col gap-10 items-center justify-center"
      id="home"
    >
      <p class="font-headline text-2xl">
        <span>Hi! I'm</span>

        <span
          class="inline-block py-2 after:w-3/4 after:h-[2px] after:block after:bg-red-400"
          >Humphrey
        </span>!
      </p>

      <img src="/santa-hat.png" alt="Santa" class="w-60 lg:w-full max-w-sm" />
    </section>

    <section id="about" class="card pt-20">
      <h2
        class="font-headline font-bold text-xl uppercase after:w-full after:h-[2px] after:bg-slate-400 after:block flex after:m-3"
      >
        About
      </h2>

      <div class="text-sm flex flex-col gap-2 font-medium xl:text-lg">
        <p>
          I'm a 2nd year Computer Science major @ the National University of
          Singapore! 🎓
        </p>
        <p>Developer by day, fishkeeper by night 🐟🐠</p>
        <p>On a mission to create meaningful software! 💻</p>
        <p>Current obsession: Succession 📺</p>
      </div>
    </section>

    <section id="projects" class="card pt-20">
      <h2
        class="font-headline font-bold text-xl uppercase after:w-full after:h-[2px] after:bg-slate-400 after:block flex after:m-3"
      >
        Projects
      </h2>

      <div class="pb-10">
        <ProjectCard
          title="Nomp"
          technologies={nompStack}
          image="/nomp.png"
          link="https://orbital-nomp.netlify.app/"
          github="https://github.com/bananamonkey4655/nomp"
        >
          <h3
            class="text-red-500 font-semibold text-xs uppercase font-headline"
          >
            Built for CP2106 Independent Software Development Project (Orbital)
          </h3>

          <p>
            A web app to help a group of friends decide where to eat using a
            Tinder-like interface to vote
          </p>

          <p>Uses Socket.io for real-time voting feedback.</p>
        </ProjectCard>
      </div>

      <div class="pb-10">
        <ProjectCard
          title="OnlyFoods"
          technologies={onlyFoodsStack}
          image="/onlyfoods.png"
          link="https://onlyfoods-blue.vercel.app/"
          github="https://github.com/bananamonkey4655/onlyfoods"
        >
          <p>A web app to search for restaurant listings using keywords.</p>

          <p>
            Uses SSG (Static Site Generation) to pre-render only a few listings
            at build time, while server-rendering listings on demand if they
            don't exist.
          </p>
          <p>
            Pages are cached and served as static sites for future requests.
          </p>
        </ProjectCard>
      </div>

      <div class="pb-10">
        <ProjectCard
          title="My website"
          technologies={portfolioStack}
          image="/cool-example.jpg"
          link="/"
          github="https://github.com/bananamonkey4655/astro-test"
        >
          <p>This website!</p>
        </ProjectCard>
      </div>
    </section>

    <section class="card" id="skills">
      <h2
        class="font-headline font-bold text-xl uppercase after:w-full after:h-[2px] after:bg-slate-400 after:block flex after:m-3"
      >
        Skills
      </h2>

      <SkillCard
        title="Languages"
        technologies={technologies.filter((tech) => tech.skill === "language")}
      />

      <SkillCard
        title="Libraries & Frameworks"
        technologies={technologies.filter((tech) => tech.skill === "library")}
      />

      <SkillCard
        title="Tools"
        technologies={technologies.filter((tech) => tech.skill === "tool")}
      />
    </section>

    <section id="contact" class="card pb-40">
      <h2
        class="font-headline font-bold text-xl uppercase after:w-full after:h-[2px] after:bg-slate-400 after:block flex after:m-3"
      >
        Contact
      </h2>

      <p class="inline-block link after:bg-red-500">
        <a href="mailto: humphrey@u.nus.edu">Get in touch!</a>
      </p>
    </section>
  </main>
</Layout>

<script>
  const cards = document.querySelectorAll(".card");

  const observer = new IntersectionObserver(
    (entries) => {
      entries.forEach((entry) => {
        entry.target.classList.toggle("show", entry.isIntersecting);

        if (entry.isIntersecting) {
          observer.unobserve(entry.target);
        }
      });
    },
    { threshold: 0.2 }
  );

  cards.forEach((card) => {
    observer.observe(card);
  });
</script>

<style>
  .card {
    transform: translateY(100px);
    transition: 250ms;
    opacity: 0;
  }

  .card.show {
    transform: translateY(0);
    opacity: 1;
  }
</style>

<!-- <style>
	:root {
		--astro-gradient: linear-gradient(0deg, #4f39fa, #da62c4);
	}

	h1 {
		margin: 2rem 0;
	}

	main {
		margin: auto;
		padding: 1em;
		max-width: 60ch;
	}

	.text-gradient {
		font-weight: 900;
		background-image: var(--astro-gradient);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		background-size: 100% 200%;
		background-position-y: 100%;
		border-radius: 0.4rem;
		animation: pulse 4s ease-in-out infinite;
	}

	@keyframes pulse {
		0%,
		100% {
			background-position-y: 0%;
		}
		50% {
			background-position-y: 80%;
		}
	}

	.instructions {
		line-height: 1.6;
		margin: 1rem 0;
		background: #4f39fa;
		padding: 1rem;
		border-radius: 0.4rem;
		color: var(--color-bg);
	}

	.instructions code {
		font-size: 0.875em;
		border: 0.1em solid var(--color-border);
		border-radius: 4px;
		padding: 0.15em 0.25em;
	}

	.link-card-grid {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
		gap: 1rem;
		padding: 0;
	}
</style> -->
