---
import Layout from "@/layouts/Layout.astro";

import { technologies } from "@/lib";

import About from "@/components/About.astro";
import SkillCard from "@/components/SkillCard.astro";
import Nomp from "@/components/projects/Nomp.astro";
import OnlyFoods from "@/components/projects/OnlyFoods.astro";
import Portfolio from "@/components/projects/Portfolio.astro";
import Hero from "@/components/Hero.astro";
---

<Layout title="Humphrey 🎅">
  <main class="px-6 pb-4 relative w-full m-auto md:max-w-lg xl:max-w-5xl">
    <Hero />

    <section id="about" class="card pb-10 scroll-my-20">
      <About />
    </section>

    <section id="projects" class="card scroll-my-20">
      <h2
        class="font-bold text-xl uppercase after:w-full after:h-[2px] after:bg-slate-400 after:block flex after:m-3"
      >
        Projects
      </h2>

      <Nomp />

      <OnlyFoods />

      <Portfolio />
    </section>

    <section class="card scroll-my-20" id="skills">
      <h2
        class="flex font-bold text-xl uppercase after:w-full after:h-[2px] after:bg-slate-400 after:block after:m-3"
      >
        Skills
      </h2>
      <SkillCard
        title="Languages"
        technologies={technologies.filter((tech) => tech.skill === "language")}
      />
      <SkillCard
        title="Libraries & Frameworks"
        technologies={technologies.filter((tech) => tech.skill === "library")}
      />
      <SkillCard
        title="Tools"
        technologies={technologies.filter((tech) => tech.skill === "tool")}
      />
    </section>

    <section id="contact" class="card scroll-my-20 py-40 flex flex-col gap-4">
      <h2
        class="font-bold text-xl uppercase after:w-full after:h-[2px] after:bg-slate-400 after:block flex after:m-3"
      >
        Contact
      </h2>

      <p class="text-center font-semibold">
        <span class="inline-block title"
          >If you'd like to work together, drop me a message below!
        </span>
      </p>

      <a
        href="mailto: humphrey@u.nus.edu"
        class="font-bold self-center bg-red-100 dark:bg-rose-600 rounded-md p-2 shadow-xl text-lg border-[2px] border-red-300 transition-all duration-150 ease-in-out hover:bg-red-400 dark:hover:bg-red-300"
        >📧 Get in touch 📧
      </a>
    </section>
  </main>
</Layout>

<script>
  const cards = document.querySelectorAll(".card");

  const observer = new IntersectionObserver(
    (entries) => {
      entries.forEach((entry) => {
        entry.target.classList.toggle("show", entry.isIntersecting);

        if (entry.isIntersecting) {
          observer.unobserve(entry.target);
        }
      });
    },
    { threshold: 0.1 }
  );

  cards.forEach((card) => {
    observer.observe(card);
  });
</script>

<style>
  .card {
    transform: translateY(100px);
    transition: 250ms;
    opacity: 0;
  }

  .card.show {
    transform: translateY(0);
    opacity: 1;
  }
</style>
