---
import { Icon } from "astro-icon";
import Contacts from "@/components/Contacts.astro";
---

<footer class="bg-slate-200 p-5">
  <div class="flex justify-between items-center max-w-7xl m-auto">
    <span class="font-semibold text-xs">© 2022 — Designed by Humphrey</span>
    <Contacts />
  </div>
</footer>
