---
import { Icon } from "astro-icon";
import Contacts from "@/components/Contacts.astro";
---

<footer class="p-5 bg-slate-200 dark:bg-slate-700">
  <div class="flex justify-between items-center max-w-7xl m-auto">
    <span class="font-semibold text-xs">© 2022 — Designed by Humphrey</span>
    <Contacts />
  </div>
</footer>
