---
---

<nav class="font-semibold p-4 bg-white border-b sticky top-0 left-0 z-50">
  <div class="flex justify-between items-center m-auto max-w-7xl">
    <h4 class="lowercase link after:bg-red-500">
      <a href="#home">Humphrey</a>
    </h4>
    <ul class="text-xs md:text-sm flex gap-4">
      <li class="link">
        <a href="#about">About</a>
      </li>
      <li class="link">
        <a href="#projects">Experience</a>
      </li>
      <li class="link">
        <a href="#contact">Contact</a>
      </li>
      <li>
        <a
          href="/"
          class="py-2 px-3 rounded-md border-red-400 border-[2px] hover:bg-red-200 transition-colors duration-150"
          >Resume
        </a>
      </li>
    </ul>
  </div>
</nav>
