---

---

<nav class="flex justify-between items-center font-semibold py-4 border-b">
  <h4 class="lowercase">  
    <a href="/">Humphrey</a>
  </h4>
  <ul class="text-xs flex gap-4">
    <li><a href="/">About</a></li>
    <li><a href="/">Experience</a></li>
    <li><a href="/">Contact</a></li>
  </ul>
  <div class="hidden">
    <a href="/">Resume</a>
  </div>
</nav>
