---
---

<nav class="font-semibold p-4 bg-white border-b sticky top-0 left-0 z-50">
  <div class="flex justify-between items-center m-auto max-w-7xl">
    <h4 class="lowercase">
      <a href="/">Humphrey</a>
    </h4>
    <ul class="text-xs flex gap-4">
      <li><a href="#about">About</a></li>
      <li><a href="#projects">Experience</a></li>
      <li><a href="#contact">Contact</a></li>
    </ul>
  </div>
</nav>
