---
import { Icon } from "astro-icon";
import type { Tech } from "@/lib";

export interface Props {
  title: string;
  technologies: Tech[];
}

const { title, technologies } = Astro.props as Props;
---

<div>
  <h3
    class="font-headline inline-block py-2 after:w-3/4 after:h-[2px] after:block after:bg-red-400"
  >
    {title}
  </h3>
</div>

<ul class="grid grid-cols-4 gap-10 items-center py-5">
  {
    technologies.map((tech) => (
      <li
        class="text-center"
        data-title={tech.description ?? "Nothing found! Damn it."}
      >
        <Icon
          name={tech.icon}
          aria-label={tech.name}
          class="h-10 m-auto hover:-translate-y-2 transition-transform duration-200"
        />
        <span class="font-headline font-semibold text-xs whitespace-nowrap">
          {tech.name}
        </span>
      </li>
    ))
  }
</ul>
<!-- 
<style>
 .tooltip {
    position: relative;
  }

  .tooltip:before,
  .tooltip:after {
    display: block;
    opacity: 0;
    pointer-events: none;
    position: absolute;
    z-index: 999;
  }

  .tooltip:after {
    border-right: 6px solid transparent;
    border-bottom: 6px solid rgba(0, 0, 0, 0.75);
    border-left: 6px solid transparent;
    content: "";
    height: 0;
    top: 40px;
    left: 20px;
    width: 0;
  }
  .tooltip:before {
    background: rgba(0, 0, 0, 0.75);
    border-radius: 2px;
    color: #fff;
    content: attr(data-title);
    font-size: 14px;
    padding: 6px 10px;
    top: 46px;
    /* left: 15px; */
  }

  .tooltip.expand:before {
    transform: scale3d(0.2, 0.2, 1);
    transition: all 0.2s ease-in-out;
  }

  .tooltip.expand:after {
    transform: translate3d(0, 6px, 0);
    transition: all 0.1s ease-in-out;
  }

  .tooltip.expand:hover:before,
  .tooltip.expand:hover:after {
    opacity: 1;
    transform: scale3d(1, 1, 1);
  }
  .tooltip.expand:hover:after {
    transition: all 0.2s 0.1s ease-in-out;
  } 
</style> -->
