---
import "@/styles/base.css";
import Navbar from "@/components/Navbar.astro";
import Footer from "@/components/Footer.astro";

export interface Props {
  title: string;
}

const { title } = Astro.props as Props;
---

<!DOCTYPE html>
<html lang="en" class="scroll-smooth">
  <head>
    <title>{title}</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png" />
    <meta name="generator" content={Astro.generator} />
    <meta
      name="description"
      content="Hi, i'm Humphrey, an aspiring software engineer. Currently a sophomore @ National University of Singapore, majoring in computer science. Welcome to my site!"
    />
    <meta property="twitter:card" content="summary_large_image" />
    <meta property="og:title" content="Humphrey's website!" />
    <meta
      property="og:description"
      content="Hi, i'm Humphrey, an aspiring software engineer. Currently a sophomore @ National University of Singapore, majoring in computer science. Welcome to my site!"
    />
    <meta property="og:locale" content="en_US" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://humphrey.app" />
    <meta property="og:site_name" content="Humphrey's Website" />
    <meta property="og:image" content="humphrey-site.png" />
    <meta property="og:image:width" content="1200" />
    <meta property="og:image:height" content="633" />
    <meta name="robots" content="index,follow" />
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-CCSZRCZJ0C"
    ></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag() {
        dataLayer.push(arguments);
      }
      gtag("js", new Date());

      gtag("config", "G-CCSZRCZJ0C");
    </script>
  </head>

  <body id="top">
    <Navbar />
    <slot />
    <Footer />
  </body>
</html>
